NEXT_PUBLIC_SUPABASE_URL=http://supabasekong-xebsia6795nd6fpm7kcqlege.72.62.121.172.sslip.io
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3OTg4MDM4MCwiZXhwIjo0OTM1NTUzOTgwLCJyb2xlIjoiYW5vbiJ9.bwapNU7LxmZE5WY6IsMxn-2VxbQeRSPgzGUqdxeQidM
NEXT_PUBLIC_SITE_URL=http://localhost:3000
